doctype html
html(lang='en')
  head
    title Derek Rush :: Resume
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/default.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="js/parallax.min.js")
    script(src="js/default.js")
    
  body
    aside#social
      div
      ul
        li
          a(href="//linkedin.com/in/nutheory", target="_blank")
            i.fa.fa-linkedin.fa-2x
        li
          a(href="//github.com/nutheory", target="_blank")
            i.fa.fa-github.fa-2x
        li
          a(href="skype:nutheory?chat")
            i.fa.fa-skype.fa-2x
    #main-content
      header
        .wrapper
          .right
            #me
              img(src="images/headshot.png", alt="Derek")
          .left
            #logo
              h3 Welcome to the portfolio of 
              h3 Derek Rush
            h2.tagline
              | Fullstack developer using
              br
              | Node and React
            .actions
              a.button(href="resume.pdf" target="_blank") Resume
              a.button(href="mailto:drush@nutheory.com") Contact
      #tools
        h1 development toolset.
        .top-center
          .row
            .left 
              .icon-node
              .summary
                h3 React, GraphQL, and Node 
                  span (development)
                p After working with Ruby on Rails for several years I gradually started to migrate more 
                  | and more to Node backends due to its performance edge and universality. Using JS 
                  | for Node service architectures as well as React for optimized interfaces with
                  | GraphQL facilitating data transportation between the two works very seemlessly. Plus front
                  | end data stores like Apollo add that awesome extra boost to it all.  
            .right 
              .icon-jest
              .summary  
                h3 Functional Programming, and Jest  
                  span (testing and theory)
                p In general I try to keep code I write to very small methods that minimize side effects
                  | so that unit test testing isnt really very necessary, however I do architect most features 
                  | by writing integration tests to properly setup all GQL queries and services in advance. 
                  | My tool of choice for testing is Jest from those awesome minds at Facebook. I try to implement 
                  | a healthy mix of imperative and functional coding styles where each is appropiate, simple,
                  | and readable.    
          .row  
            .left
              .icon-db
              .summary
                h3 Sequelize with Postgres and Mongo 
                  span (databases)
                p PostgreSQL is a powerful, open source object-relational database system and Mongo 
                  | is a NoSQL document store, containing many different key-value pairs, or even 
                  | nested documents. Two drastically different approaches to deal with data, each
                  | with pros and cons.       
            .right 
              .icon-utils
              .summary
                h3 Flow, Webpack and Ruby on Rails 
                  span (utils and extra talents)
                p The amount of times simple utils like Flow have reminded me about annotations or 
                  | to check for a possible null value to prevent a critical failure is crazy when I 
                  | really think about it. So many small utilities turn out to save so much time in the 
                  | long run. Another such util it would be hard to imagine not having are build systems 
                  | like Webpack. The evolution of build systems has been a fun adventure to follow, 
                  | from Grunt... to Gulp... to Webpack. 

            
      #about
        .left-description
          h1 About Me
          h4 My Beginnings
          p I created my first website in 1994, at the age of 13, and soon developed a focus on the 
            | user experience, or “usability,” aspects of web development.  I am largely self taught, 
            | with a strong work ethic, and over the past 20 years have gained practical experience 
            | with all sorts of languages, building my first web application in ASP.NET.  

          h4 My Recent History
          p I got started with Ruby on Rails in 2007, creating many different projects over the years.  
            | In 2009, I helped build a social network using PHP and pure Javascript 
            | (no libraries, no jQuery) called 
            a(href="http://miio.com/" target="_blank") Miio 
            | (
            a(href="https://github.com/nutheory/miio" target="_blank") github for Miio
            | ). Most recently I have 
            | created and maintained 5 full RoR applications at W+R Studios, along with prototyping 
            a(href="https://github.com/nutheory/mlx-map" target="_blank") proof of concepts for 
            | many major features using small Node/Express apps in order to get feedback. My last 
            | project at W+R Studios was 
            a(href="http://cloudmlx.com" target="_blank") Cloud MLX 
            | which won the 
            a(href="http://www.inman.com/2016/08/05/inman-announces-2016-innovator-award-winners/" target="_blank") 2016 Innovative Technology Award (from Inman)  
            | . My current contract is building an app for event based professionals. Its a RoR back end matched with a React/Redux front end.

          h4 My Future
          p I'm looking for an opportunity to work in an environment of aspirational projects and 
            | productive expectations.  I enjoy working with small teams, in collaborative efforts 
            | with others who are productive, proud of their work, and committed to excellence. I 
            | appreciate working with team players that are open minded.
          
        .right-history
          h1 History
          ul
            li 
              h4 W+R Studios (2011 - 2016)
              p Over the span of several years I assisted in maintaining and launching 
                | 4 SAAS/Rails projects within a small, agile team for the real estate industry. Most 
                | recently creating a custom front end framework to consume a Rails JSON API.
              blockquote
                h4 Testimonial
                p "Derek Rush was the first developer hired by W+R Studios. From the beginning Derek 
                  | has shown great vision with our flagship product and contributed to many favorable 
                  | enhancements. Derek has also been instrumental contributing to the development 
                  | of two additional products with key innovations that separates us from the 
                  | competition. Derek is a strong collaborator with fellow teammates and has 
                  | mentored new developers along the way. If you are considering adding to your team 
                  | Derek is a proven asset every successful company should have." 
                  span ~ Gary McDaniel - Director of Member Services, W+R Studios
            li
              h4 Foldera (2001 - 2007)
              p Co-founded a software company that was aimed to improve project management
                | and collaboration. My role was Lead Designer/Usability Engineer.
        div(style="clear:both")  
      #projects
        .project-wrapper
          h1 Recent Projects
          div.project-list-row
            div.proj-col
              div.proj
                h3 
                  a(href="http://homefilming.com" target="_blank") Homefilming
                img(src="images/homefilming.jpg")
                p Created this online service to facilitate real estate agents being able to order
                  | aerial photographs and videos of properties for marketing residential homes. 
                  | Basically this service acts as a job board for licensed drone pilots to find local filming 
                  | opportunities for fast cash do what they love. This site was built with Node and React, and powered 
                  | by GraphQL and PostgreSQL. 
                p This project also takes full advantange of some great API's to handle 
                  | a lot of heavy lifting like video transcoding, payment processing and file storage.
                .actions
                  a.button.green(href="#") Coming Soon...
                  //- a.button.green(href="http://homefilming.com" target="_blank") homefilming.com
            div.proj-col
              div.proj
                h3 
                  a(href="http://cloudmlx.com" target="_blank") Cloud MLX
                img(src="images/mlx.jpg")
                p Built a front end framework to search MLS's through a natural language search
                  | feature. Using complex Regex patterns we use autocomplete to match records and 
                  | display results as the user enters search criteria. We achieve this by leveraging the performance
                  | of JS's non-blocking asynchronous nature, which is able to query 
                  | multiple data sources at once. Our very small team beat massive companies to win.
                .award
                  a(href="http://www.inman.com/2016/08/05/inman-announces-2016-innovator-award-winners/" target="_blank")
                    .img
                  .text 
                    a(href="http://www.inman.com/2016/08/05/inman-announces-2016-innovator-award-winners/" target="_blank") 
                      h3 2016 
                      h4 Inman Most Innovative Technology
                .actions
                  a.button.green(href="http://cloudmlx.com" target="_blank") cloudmlx.com
            div.proj-col
              div.proj
                h3 
                  a(href="http://thebrainfactory.com" target="_blank") The Brain Factory
                img(src="images/brain.jpg")
                p The Brain Factory specializes in immersive entertainment, and is the company responsible for the 
                  | Haunters documentary. Nothing that comes out of the Brain Factory is quite what you expect, 
                  | from horror and VR, to 3D and publishing, its all high octane fun. 
                .actions
                  a.button.green(href="http://thebrainfactory.com" target="_blank") thebrainfactory.com
          div.project-list-row
            div.proj-col
              div.proj
                h3
                  a(href="http://hauntersmovie.com" target="_blank") Haunters
                img(src="images/haunters.jpg")
                p This fun little project was a simple promotional website for a recently released documentary named "Haunters: 
                  | The Art of the Scare". The main objective of this site was to keep fans of extreme haunts up to 
                  | date on events and news surrounding all things horror. Check this movie out if you 
                  | get the opportunity. 
                .actions
                  a.button.green(href="http://hauntersmovie.com" target="_blank") hauntersmovie.com
            div.proj-col
              div.proj
                h3
                  a(href="http://cloudcma.com" target="_blank") Cloud CMA
                img(src="images/cloud.png")
                p My first project at W+R Studios was an online comparative market analysis (CMA) report 
                  | generator for real estate agents. My first big edit was to rewrite all prototype.js code in jQuery.
                  | I was able to add many features over time, such as the "Whats your home worth?" 
                  | lead capturer and the very experimental bookmarklet which would generate CMA's through our API
                  | from other MLS systems results (this feature eventually got rolled into MLX). I also built 
                  | the iPad version of Cloud CMA.
                p
                  a(href="http://blog.cloudcma.com/getting-the-most-from-cloud-cmas-whats-my-home-worth-lead-generating-landing-pages/" target="_blank") Blog: Whats your home worth  
                .actions
                  a.button.green(href="http://blog.cloudcma.com/getting-the-most-from-cloud-cmas-whats-my-home-worth-lead-generating-landing-pages/" target="_blank") cloudcma.com
            div.proj-col
              div.proj
                h3 
                  a(href="http://www.cloudstreams.net/" target="_blank") Cloud Streams
                img(src="images/streams.png")
                p Cloud Streams delivers property alerts via email or SMS in lightning speed. 
                  | The app allows real estate agents or their clients to set the criteria for homes they’re 
                  | interested in being notified about. One of the many awesome features about this application 
                  | is it’s 
                  a(href="http://blog.cloudcma.com/listings-alerts-on-all-major-portals-pretty-much-suck/" target="_blank") performance
                  | . Cloud Streams alerts were proven to be sent out faster than Zillow, Redfin, 
                  | Realtor.com and many more. This was due to leveraging the power of Elasticsearch and delivery 
                  | services like Twilio and SendGrid.    
                .actions
                  a.button.green(href="http://www.cloudstreams.net/" target="_blank") cloudstreams.net 
                  
      #contact
        .actions
          a.button(href="resume.pdf" target="_blank") Resume
          a.button.pink(href="mailto:drush@nutheory.com") Contact    
