doctype html
html(lang='en')
  head
    title Derek Rush :: Resume
    link(rel="stylesheet", href="./css/default.css")
  body
    #title_nav
    
    #about
      | Highly motivated web application developer, and designer 
      | with 9+ years of GUI experience and 6+ years working with Ruby on Rails
      | and really intensive javascript/coffeescript.
      | Proven leadership and work ethic. .
      | Experienced in a start-up environment requiring self-motivation, 
      | adaptability and leadership. 
    #info_strip
      #info_tech
        #info_ruby
          .logo
          .info
            h3 Ruby on Rails
            p Ruby/Rails/Sinatra are a massive group of awesome tools.  
            
        #info_node
          .logo
          .info 
            h3 Node and Javascript
            p Very versed in JS, still learning most ES ideas and principles.
            | Love the fast movement of JS concepts mixed with ES2015 forward 
            | thinking, Googles V8 engine is a monster that needs to showcase 
            | the future of the web and ideas like ES and shadow DOM.
