doctype html
html(lang='en')
  head
    title Derek Rush :: Resume
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/default.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="js/parallax.min.js")
    script(src="js/default.js")
    
  body
    aside#social
      div
      ul
        li
          a(href="//linkedin.com/in/nutheory", target="_blank")
            i.fa.fa-linkedin.fa-2x
        li
          a(href="//github.com/nutheory", target="_blank")
            i.fa.fa-github.fa-2x
        li
          a(href="skype:nutheory?chat")
            i.fa.fa-skype.fa-2x
        li
          a(href="//twitter.com/nutheory", target="_blank")
            i.fa.fa-twitter.fa-2x
    #main-content
      header
        .wrapper
          .right
            #me
              img(src="images/headshot.png", alt="Derek")
          .left
            #logo
              h3 Welcome to the portfolio of 
              h3 Derek Rush
            h2.tagline
              | Fullstack web developer using
              br
              | Ruby and Javascript
            .actions
              a.button(href="resume.pdf") Resume
              a.button(href="mailto:drush81@gmail.com") Contact
      #tools
        h1 My development toolset.
        .top-center
          .left-rails 
            .icon-rails
            h3 Ruby on Rails
            p Since building my first Rails application back in 2007 I have loved the
              | beauty and simplicity of the Ruby language. One of my favorite features
              | of Rails has to be size of its community thats builds gems and contributes
              | to the Rails codebase itself. There seems to be a entire vibe that surrounds 
              | open source.
          .right-node 
            .icon-node
            h3 React, Redux, ES6, NPM and Node
            p Before Node.js even came around I was building full web applications 
              | in pure JS. I love the patterns and practices of React, but I don't mind going 
              | outside of its boundries when needed. I also really enjoy working with architectures 
              | centered around asynchronous JSON and small data end points. 
          .left-db
            .icon-db
            h3 Postgres and Mongo
            p PostgreSQL is a powerful, open source object-relational database system and Mongo 
              | is a NoSQL document store, containing many different key-value pairs, or even 
              | nested documents. Two drastically different approaches to deal with data, each
              | with pros and cons. 
      
          .right-5-3 
            .icon-5-3
            h3 HTML and CSS
            p Structural and stylistic scripting tools, each having powerful features for everything 
              | from canvas (drawing) to animations. Huge gains can be achieved through moving 
              | page elements, such as animations, from JavaScript to creative CSS enhancements.  
         

            
      #about
        .left-description
          h1 About Me
          h4 My Beginnings
          p I created my first website in 1994, at the age of 13, and soon developed a focus on the 
            | user experience, or “usability,” aspects of web development.  I am largely self taught, 
            | with a strong work ethic, and over the past 20 years have gained practical experience 
            | with all sorts of languages, building my first web application in ASP.NET.  

          h4 My Recent History
          p I got started in Ruby on Rails in 2007, creating many different projects over the years. At 
            | one point in 2009, I helped build a social network using PHP and pure Javascript 
            | (no libraries, no jQuery) called 
            a(href="http://miio.com/" target="_blank") Miio 
            | (
            a(href="https://github.com/nutheory/miio" target="_blank") github for Miio
            | ). Most recently I have 
            | created and maintained 5 full RoR applications at W+R, along with prototyping 
            a(href="https://github.com/nutheory/mlx-map" target="_blank") proof of concept for many major features using small Node/Express apps 
            | in order to get feedback. My last project at W+R was 
            a(href="http://cloudmlx.com" target="_blank") CloudMLX 
            | which won the 
            a(href="http://www.inman.com/2016/08/05/inman-announces-2016-innovator-award-winners/" target="_blank") 2016 Innovative Technology Award (from Inman) 
            | for taking on the current MLS search apps. 
            | Currently I am building a React/Redux front-end for a freelance project I built using RoR.

          h4 What I'm Looking To In the Future
          p I am looking for an opportunity to work in an environment of aspirational projects and 
            | productive expectations.  I enjoy working with small teams, in collaborative efforts 
            | with others who are productive, proud of their work, and committed to excellence. I 
            | appreciate working with disruptors as well as team players.
          
        .right-history
          h1 History
          ul
            li 
              h4 2011 - 2016: W+R Studios
              p Over the span of several years I assisted in maintaining and launching 
                | 4 SAAS/Rails projects within a small, agile team for the real estate industry. Most 
                | recently creating a custom front-end framework to consume a Rails JSON API.
              h4 Testimonial
              p "Derek Rush was the first developer hired by W+R Studios. From the beginning Derek 
                | has shown great vision with our flagship product and contributed to many favorable 
                | enhancements. Derek has also been instrumental contributing to the development 
                | of two additional products with key innovations that separates us from the 
                | competition. Derek is a strong collaborator with fellow teammates and has 
                | mentored new developers along the way. If you are considering adding to your team 
                | Derek is a proven asset every successful company should have." 
                span ~ Gary McDaniel - Director of Member Services, W+R Studios
            li
              h4 2001 - 2007: Foldera
              p Co-founded a software company that was aimed to improve project management
                | and collaboration. My role was Lead Designer/Usability Engineer.
        div(style="clear:both")  
      #projects
        .project-wrapper
          h1 Recent Projects
          ul
            li
              h3 CloudMLX
              img(src="images/mlx.png")
              p Built a front-end framework, to search MLS's through a natural language search
                | feature. Using complex REGEX patterns we use autocomplete to match records and 
                | display results as the user enters search criteria. We achieve this by leveraging the performance
                | of JS's non-blocking asynchronous nature for performance which is able to query 
                | multiple data sources at once. Our very small team beat massive companies to win...
              .award
                .img
                .text 
                  a(href="http://www.inman.com/2016/08/05/inman-announces-2016-innovator-award-winners/" target="_blank") 
                    h2 2016 
                    h3 Inman Most Innovative Technology
              p
                a(href="http://cloudmlx.com" target="_blank") Check it out!
              p
                a(href="https://medium.com/@derekrush/how-a-surf-shop-in-hb-with-4-devs-beat-the-big-boys-8ee23d551b65#.p5f9ey8xi") My Blog Post on it
            li
              h3 CloudCMA
              img(src="images/cloud.png")
              p My first project at W+R, this is a online comparative market analysis (CMA) generator for real estate agents. 
                | I was able to add many features over time, such as the "Whats your home worth?" 
                | lead capturer, and the iPad version of cloudCMA. 
              p
                a(href="http://blog.cloudcma.com/getting-the-most-from-cloud-cmas-whats-my-home-worth-lead-generating-landing-pages/" target="_blank") Check it out!
            li
              h3 Nudge
              img(src="images/nudge.png")
              p Nudge was a very simple email alert system to notify clients about changes in the real 
                | estate market, tease upcoming listings and send general digital promotional flyers. 
                | I worked on all aspects of this project including building all widget animations in javacript.
              p
                a(href="http://www.getnudgeapp.com/" target="_blank") Check it out!    
      #contact
        .actions
          a.button(href="resume.pdf") Resume
          a.button(href="mailto:drush81@gmail.com") Contact
