doctype html
html(lang='en')
  head
    title Derek Rush :: Resume
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    link(rel="stylesheet", href="./css/default.css")
  body
    #title_nav
    #main
      #title_nav
        h1 NuTheory
          br
          span Portfolio of 
          | Derek Rush
        ul
          li
            a(href="") about
          li
            a(href="") my work
          li
            a(href="") experience
          li
            a(href="") contact
              
              
      #about
        | Highly motivated web application developer, and designer 
        | with 9+ years of GUI experience and 6+ years working with Ruby on Rails
        | and really intensive javascript/coffeescript.
        | Proven leadership and work ethic. .
        | Experienced in a start-up environment requiring self-motivation, 
        | adaptability and leadership. 
    #info_strip
      #info_tech
        #info_ruby
          .logo
          .info
            h3 Ruby on Rails
            p Ruby/Rails/Sinatra are a massive group of awesome tools.  
            
        #info_node
          .logo
          .info 
            h3 Node and Javascript
            p
              | Very versed in JS, still learning most ES ideas and principles.
              | Love the fast movement of JS concepts mixed with ES2015 forward 
              | thinking, Googles V8 engine is a monster that needs to showcase 
              | the future of the web and ideas like ES and shadow DOM.
    #about_strip
      .image
      .info
        h3 About Me
        p
          | Im a ambituous programmer with a strong sense of marketing. I have a huge 
          | interest in the art of war time propaganda posters, as well as always 
          | looking at new and and blossoming technologies.
    #work_strip
      
    #experience_strip
      ul
        li Foldera
          | 2000 - 2007 - UX Designer, Front end manager 
        li Miio
          | 2008-2009 - programmer for social startup experiment - built mostly in pure JS
        li Kajabi
          | 2010 - 2011 - short contract to get kajabis client theming to work 
          | and bring old (legacy) clients into new theming concepts
        li WR Studios
          | 2011 - 2016 - Worked on flagship product CloudCMA, Created ipad version 
          | of their CMA. Helped head new JS project to make small data requests to MLS systems.
    #contact_strip
      
